

.background-radial-gradient {
    background-color: hsl(218, 41%, 15%);
    background-image: radial-gradient(650px circle at 0% 0%,
      hsl(218, 41%, 35%) 15%,
      hsl(218, 41%, 30%) 35%,
      hsl(218, 41%, 20%) 75%,
      hsl(218, 41%, 19%) 80%,
      transparent 100%),
      radial-gradient(1250px circle at 100% 100%,
      hsl(218, 41%, 45%) 15%,
      hsl(218, 41%, 30%) 35%,
      hsl(218, 41%, 20%) 75%,
      hsl(218, 41%, 19%) 80%,
      transparent 100%);
}


.card-container {
    max-width: 40rem;
    margin: auto; /* Centrer la carte horizontalement */
    /* margin-top: 1rem;  */
    padding: 2rem;
    border-radius: 15px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
    background-color: #fff; /* Couleur de fond */
}

/* Styles pour le wrapper du formulaire */
.form-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* Styles pour les étiquettes des champs de saisie */
.form-label {
    margin-bottom: 0.5rem;
    font-weight: bold;
    color: rgb(1, 1, 3); /* Couleur du texte */
    font-size: 1rem; /* Taille de la police */
}

/* Style des labels lorsque l'input est focus */
.form-label:focus-within {
    color: #007bff; /* Changement de couleur lorsqu'un input est focus */
}

/* Style des labels pour les champs requis */
.required-label::after {
    content: '*'; /* Ajout d'un astérisque pour indiquer les champs requis */
    color: #dc3545; /* Couleur rouge pour les champs requis */
    margin-left: 0.25rem; /* Espacement entre le texte du label et l'astérisque */
}

/* Style des labels pour les erreurs */
.error-label {
    color: #dc3545; /* Couleur rouge pour les messages d'erreur */
}

/* Styles pour les champs de saisie */
.mdb-input {
    margin-bottom: 1.5rem;
}

/* Styles pour les boutons */
.mb-3 {
    margin-bottom: 1.5rem;
}


.text-center a {
    color: blue;
    text-decoration: none; 
}


.text-center .btn-floating {
    margin: 0 0.5rem;
}






