/* Reset des styles par défaut */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Style général pour la page */
.App {
    font-family: Arial, sans-serif;
}

/* Conteneur du formulaire */
.form-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;

}

/* Conteneur de la forme */
.form {
    padding: 20px;
   
}
.form--wrapper{
    border-radius: 20px;
    border: 1px solid black;
    box-shadow: black;
}

/* Image dans la colonne de gauche */
.form-image {
    display: flex;
    justify-content: center;
    align-items: center;
}

/* Formulaire principal */
.form--wrapper {
    padding: 40px;
}

/* Entrées de formulaire */
.form-input {
    margin-bottom: 20px;
}

/* Bouton de formulaire */
.form-button {
    margin-top: 20px;
}

/* Messages d'aide du formulaire */
.form-helper-text {
    font-size: 14px;
    margin-top: 5px;
}

/* Style de l'alerte */
.alert {
    padding: 20px;
    border-radius: 4px;
    background-color: #f8d7da;
    color: #721c24;
    margin-bottom: 20px;
}

/* Style de l'alerte avec succès */
.alert-success {
    background-color: #d4edda;
    color: #155724;
}
